# Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.swp
*.swo

# Frontend
tour_fe-master/node_modules/
tour_fe-master/.env
tour_fe-master/dist/
tour_fe-master/.nuxt/
tour_fe-master/.output/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/storage/logs/

# Cache
/bootstrap/cache/
/cache/
